:root {
    --color1: #FF2E63;
    --color2: #08D9D6;
    --color3: #EAEAEA;
    --color4: rgb(15, 227, 15);
    --bg-color: #161920;
}

html {
    height: 100vh;
}

html, body {
    background-color: var(--bg-color);
}

body {
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h4, h5 {
    margin:0;
}

h1 {
    font-size: 3vh;
    color: #EAEAEA;
}

h4 {
    margin-bottom: 5vh;
    margin-right: -2vw;
    font-size: 10vh;
    color: var(--color2);
    
    text-shadow: 0px 0px 1vh;
    animation: color_change 50s infinite;
}

section {
    color: var(--color3);
    font-size: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

body>section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

p {
    margin: 2% 0;
    color: greenyellow;
    border: none;
}

form {
    padding:2%;
    width: 50%;
    display: flex;
    flex-direction: column;

    color: var(--color3);

    border: var(--color3) solid 2px;
}

#divInvisible{
    display: none;
}

label {
    margin-top: 1vh;
}

input, select {
    padding: 2%;
}

input[type='submit'] {
    background-color: var(--bg-color);
    color: var(--color3);
    font-weight: bold;
    border: solid var(--color1) 2px;
    margin-top: 3vh;
    transition:0.5s background-color ;
}

input[type='submit']:hover {
    background-color: var(--color1);
    cursor: pointer;
}

.botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boton {
    background-color: var(--bg-color);
    color: var(--color3);
    font-weight: bold;
    border: solid var(--color4) 2px;
    margin-top: 3vh;
    transition:0.5s background-color ;
}

.boton:hover {
    background-color: var(--color4);
    cursor: pointer;
}

@keyframes neon {
    25% {text-shadow: 0 0 4vh;}
    50% {text-shadow: 0 0 10vh;}
    75% {text-shadow: 0 0 8vh;}
}

@keyframes color_change {
    35% {color: #3dd908}
    75% {color: #c2d919}
}